@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation */
@keyframes borderSpin {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.animate-borderSpin {
  background-size: 200% 200%;
  animation: borderSpin 2s linear infinite;
}
